
.main-picture {
  width: 100%;
}
.main-picture__img {
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
  width: 100%;
}
.main-picture__img-hand {
  background: url(../img/iphone-hand-mobile@1x.png) no-repeat 0px 111px;
  height: 396px;
}
