.wrap-title {
    background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    display: flex;
    justify-content: center;
}
